/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";


body::-webkit-scrollbar {
    width: 15px;
    border: 1px solid #000;
  }
  
  body::-webkit-scrollbar-track {
    width: 20px;
    background: #000;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #d32607;    /* color of the scroll thumb */
    border-radius: 20px;
    margin: 1px;       /* roundness of the scroll thumb */
    border: 3px solid #d32607;  /* creates padding around scroll thumb */
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
